#### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [1]:
import re
Sample_Text = 'Python Exercises, PHP exercises.'
result = re.sub('[ ,.]',':',Sample_Text)
print(result)

Python:Exercises::PHP:exercises:

#### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.

In [17]:
import pandas as pd
text = {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
df = pd.DataFrame(text)
df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]|XXXXX','', regex=True)
df

         SUMMARY
0    hello world
1           test
2  four five six

#### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [5]:
string = "APJ Abdul Kalam was an Indian aerospace scientist also known as missile123456 12kja president man of Indian trigonomatory"
pattern = re.compile('\w{4}')
result = pattern.findall(string)
print(result)

['Abdu', 'Kala', 'Indi', 'aero', 'spac', 'scie', 'ntis', 'also', 'know', 'miss', 'ile1', '2345', '12kj', 'pres', 'iden', 'Indi', 'trig', 'onom', 'ator']

#### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [8]:
string = "APJ Abdul Kalam was an Indian aerospace scientist also known as missile123456 12kja president man of Indian trigonomatory"
pattern = re.compile('\w{3,5}')
result = pattern.findall(string)
print(result)

['APJ', 'Abdul', 'Kalam', 'was', 'India', 'aeros', 'pace', 'scien', 'tist', 'also', 'known', 'missi', 'le123', '456', '12kja', 'presi', 'dent', 'man', 'India', 'trigo', 'nomat', 'ory']

#### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.
Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]

In [8]:
sample_text = ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
pattern = re.compile('\s*\([^)]*\)\s*')
result = pattern.sub('',sample_text)
result.strip()
#Not able to solve Question 5-6

TypeError: expected string or bytes-like object, got 'list'

In [2]:
import re

strings = "example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"

def remove_parentheses(strings):
  pattern = re.compile(r"\(\)")
  modified_strings = []
  for string in strings:
    
    modified_string = re.sub(pattern, "", string)
    modified_strings.append(modified_string)
    return modified_strings

#### Question 7- Write a regular expression in Python to split a string into uppercase letters.
Sample text: “ImportanceOfRegularExpressionsInPython”

In [24]:
string = 'ImportanceOfRegularExpressionsInPython'
pattern = '[A-Z][^A-Z]*'
result = re.findall(pattern,string)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

#### Question 8- Create a function in python to insert spaces between words starting with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [70]:
string = 'RegularExpression1IsAn2ImportantTopic3InPython'
pattern = re.compile('(\d)')
result = pattern.sub(" \\1",string)
print(result)

RegularExpression 1IsAn 2ImportantTopic 3InPython

#### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"

In [71]:
text = "RegularExpression1IsAn2ImportantTopic3InPython"
pattern = '([A-Z]|\d)'
result = re.sub(pattern,' \\1',text)
print(result)

 Regular Expression 1 Is An 2 Important Topic 3 In Python

#### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [48]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df['first_five_letters'] = df['Country'].str.extract('(\D{6})',flags = re.IGNORECASE)
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

#### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [82]:
string =  "Hello_World123"
pattern = '[A-Za-z0-9_]*'
result = re.findall(pattern,string)
print(result)

['Hello_World123', '', 'Trilok', '', 'Singh', '']

#### Question 12- Write a Python program where a string will start with a specific number.

In [33]:
string = "Virat Kohali scored 10centuries, Yuvraj score 10halfcentures and Sachin Score 10fifties in T20"
pattern = '10[a-zA-Z]+'
result = re.findall(pattern,string)
print(result)

['10centuries', '10halfcentures', '10fifties']

#### Question 13- Write a Python program to remove leading zeros from an IP address

In [50]:
string = '127.054.065.025'
pattern = '\.0*'
result = re.sub(pattern,'.',string)
print(result)

127.54.65.25

##### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.
Sample text :  ' On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country’

In [61]:
text =   "On August 15th 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country"
pattern = 'A[a-z]* \w* \d*'
result = re.findall(pattern,text)
print(result)

['August 15th 1947']

#### Question 15- Write a Python program to search some literals strings in a string. 
Sample text : 'The quick brown fox jumps over the lazy dog.'

In [2]:
text = 'The quick brown fox jumps over the lazy dog.'
search = ['fox', 'dog', 'horse']

for char in search:
    if char in text:
        print(f"'{char}' Found in the text.")
    else:
        print(f"'{char}' Not found in the text.")

'fox' Found in the text.
'dog' Found in the text.
'horse' Not found in the text.

#### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs
Sample text : 'The quick brown fox jumps over the lazy dog.'

In [63]:
text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'd\w*'
result = re.search(pattern,text)
print(result)

<re.Match object; span=(40, 43), match='dog'>

#### Question 17- Write a Python program to find the substrings within a string.
Sample text : 'Python exercises, PHP exercises, C# exercises'

In [67]:
text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = re.findall(pattern,text)
print(result)

['exercises', 'exercises', 'exercises']

#### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [7]:
text = 'Python exercises, PHP exercises, C# exercises'
char = 'exercises'
result = re.search(char,text)
print(result)

<re.Match object; span=(7, 16), match='exercises'>

#### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [72]:
text = '1996-01-24'
result = re.sub('(\d{4})-(\d+)-(\d+)','\\3-\\2-\\1',text)
print(result)

24-01-1996

#### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.
Sample Text: "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"

In [85]:
text = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
pattern = '\d+\.\d{1,2}'
result = re.findall(pattern,text)
print(result)

['01.12', '0132.12', '2.31', '145.8', '3.01', '27.25', '0.25']

#### Question 21- Write a Python program to separate and print the numbers and their position of a given string

In [5]:
text = "The following example creates an ArrayList with a capacity of 50 elements. Four elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = '\d+'
result = re.search(pattern,text)
print(result)

<re.Match object; span=(62, 64), match='50'>

#### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.
Sample Text:  'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
Expected Output: 950

In [7]:
text =  "My marks in each semester are: 947, 896, 926, 524, 734, 950, 642"
pattern = '\d+'
result = re.findall(pattern,text)
result_final = max(result)
print(result_final)

950

#### Question 23- Create a function in python to insert spaces between words starting with capital letters.
Sample Text: “RegularExpressionIsAnImportantTopicInPython"
Expected Output: Regular Expression Is An Important Topic In Python

In [84]:
text = "RegularExpressionIsAnImportantTopicInPython"
pattern = '([A-Z])'
result = re.sub(pattern,' \\1',text)
print(result)

 Regular Expression Is An Important Topic In Python

#### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

#### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.
Sample Text: "Hello hello world world"

In [12]:
text = "Hello hello world world"
pattern = r'\b(\w+) (\1\b)+'
result = re.sub(pattern, r'\1',text,flags = re.IGNORECASE)
print(result)

Hello world

#### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [16]:
import re
text = The quick brown fox_ jumps over a lazy125_ Dog
result = re.search('\w+',text)
print(result)

SyntaxError: invalid syntax (805146160.py, line 2)

#### Question 27-Write a python program using RegEx to extract the hashtags.
Sample Text:  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""

In [17]:
text =  """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <U+00A0><U+00BD><U+00B1><U+0089> "acquired funds" No wo"""
pattern = '#\w+'
result = re.findall(pattern,text)
print(result)

['#Doltiwal', '#xyzabc', '#Demonetization']

#### Question 28- Write a python program using RegEx to remove <U+..> like symbols
Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.
Sample Text: "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"

In [22]:
text = "@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = '<U\+\w{4}>'
result = re.sub(pattern,'',text)
print(result)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

#### Question 29- Write a python program to extract dates from the text stored in the text file.
Sample Text: Ron was born on 12-09-1992 and he was admitted to school 15-12-1999.

In [38]:
text =  "Ron was born on 12-09-1992 and he was admitted to school 15-12-1999."
pattern = '\d+-\d+-\d{4}'
result = re.findall(pattern,text)
print(result)

['12-09-1992', '15-12-1999']

#### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.
The use of the re.compile() method is mandatory.
Sample Text: "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."

In [36]:
text = "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern = re.compile('r\b\w{2,4}\b')
result = pattern.sub("",text)
print(result)

The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly.